

body {
    width: 100%;
    margin: auto;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.navbar{
  height: 75px;
  background-color: white;
  border-bottom: 2px solid lightgrey;
}

.navbar-brand {
    height: 70px;
    width: 244px;
    background-color: #4aaaa5;
    text-align: center;
    font-size: 27px;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-top: 19px;
}

.card {
  width: 968px;
  height: 70px;
  margin: 0 auto;
  
}

.card-header {
  font-size: 30px;
  background-color: white;

}

.container {
  width: 968px;
  height: 70px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  margin: auto;
}

.profile-paragraph {
  float: right;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: .5;
  line-height: 60px; 
  background-color: #666666;
  text-align: center;
  color: white;
  border-top: 5px solid #4aaaa5;



